body{
	font-family: sans;
}

header .ui.icon.menu > a.item {
	height: 47px;
	padding: 6px 8px;
}

@media all and (max-width: 480px) {
	header .ui.icon.menu > a.item {
		width: 60px;
		height: 47px;
	}
	
	header .ui.icon.menu > a.item i.icon{
		line-height: 34px;
	}
	
	header .ui.icon.menu > a.item span{
		display: none;
	}
}

/*
* 	HEADER and NINJA logo 
*/

header.top > div#top-menu {
	display: block; 
	position: fixed; 
	top: 0; 
	height: 48px; 
	z-index: 100;
	left: 0;
	right: 0;
}

header.top > div#top-menu, 
#sidebar-left-button {
	border-radius: 0;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}

header.ninja-logo{
	background: #55aaa5;
	margin: 48px 0 0;			
	padding: 0 0 30px;
}

header.ninja-logo > div{
	width: 300px;
	margin: 0 auto;
	position:relative;			
}

.ninja {
	-webkit-opacity: 1;
	   -moz-opacity: 1;
			opacity: 1;
	-webkit-transition: all 1s ese;
	   -moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		 -o-transition: all 1s ease;
			transition: all 1s ease;
			
			 transition-delay: 1s;
			 
}
	
.ninja:hover {
	-webkit-opacity: 0;
	   -moz-opacity: 0;
			opacity: 0;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}
	
/*
*/
	
#sidebar-left-button.fixedbutton {
	position: fixed;
	top: 45px;
	z-index: 100;
	left: 0;
	right: 0;
	
}



/*
#posts {
   margin-right: 5%;
   margin-left: 5%;
   list-style-type: none;
}
*/

#posts {
    margin: 0;
    padding: 0;
}

#posts .single-li .date{
    float: right;
    
}
#posts .single-li{
    padding: 1rem 2.5rem;
}



#loader {
	margin-left: 30px;				
}		

body{
  background: #f5f9fc;            
}




a{
	color: navy;
}

a.nav{
	cursor: pointer
}
.white-head {
		color: #0099CC;
		font-weight: bold;
	
	
}	
.center-column{
   padding-top: 25px;
}

a#pagetop{
	position: fixed; bottom:10px; right:10px;
}

.smallText {
	font-size: 0.8rem;
}


.search-segment .ui.icon.input>.icon {
    padding-top: 0.62em;
    border-radius: 0;
}

.search-segment .ui.input{
    display: block;
}
.search-segment .ui.input input{
    padding: 0.5em;
    border-radius: 0;
    width: 100%;
}

/*i.inverted.icon.search-clearer{
    color: red;
}*/
.search-sumbitter-before{
    background-image: -webkit-linear-gradient(rgba(0,0,0,.03) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.03) 100%);
    background-image: -moz-linear-gradient(rgba(0,0,0,.03) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.03) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.03)),color-stop(50%,rgba(0,0,0,.1)),to(rgba(0,0,0,.03)));
    background-image: linear-gradient(rgba(0,0,0,.03) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.03) 100%);
    
    position: absolute;
    content: '';
    top: 0;
    width: 1px;
    height: 100%;
}



.ui.horizontal.divider:after, .ui.horizontal.divider:before {
    border-top-color: rgba(249, 227, 92, 0.1);
    border-bottom-color: rgba(249, 227, 92, 0.8);
    
}

.vk-hrefs-container {
	text-align: center;
}
